{
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "import",
      {
        "libraryName": "material-ui",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 0.75% in US",
            "last 4 versions",
            "Android > 4.2",
            "Firefox ESR",
            "not ie <= 10"
          ],
          "uglify": true
        },
        "useBuiltIns": true,
        "debug": false,
        "modules": false
      }
    ],
    "react"
  ]
}
