<!DOCTYPE html>
<html ng-app="coviam">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coviam</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="HomeController as h">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#page-top">
                    <span class="text-primary bold">Coviam!</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="col-md-9">
            <h3>Masalas and Spices (<span ng-bind="h.products.length"></span> items)</h3>
            <div class="col-md-3" ng-repeat="product in h.products">
                <div class="p-card">
                    <div class="card-image">
                        <img ng-src="{{ product.image }}" alt="">
                    </div>
                    <div class="card-text">
                        <div ng-bind="product.brandName"></div>

                        <div ng-bind="product.productName"></div>

                        <div ng-bind="product.packagingDetail"></div>

                        <div class="product-price" ng-bind="product.price"></div>
                    </div>
                    <div class="buy-place">
                        <button class="btn btn-primary add-to-cart" ng-if="product.addedCount === 0" ng-click="h.addToCart($index)">
                            Add to Cart
                        </button>
                        <div ng-if="product.addedCount > 0" class="added-to-cart">
                            <button ng-click="h.removeFromCart($index)" class="btn btn-primary" type="button">-</button>
                            <span ng-bind="product.addedCount"></span> in cart
                            <button ng-click="h.addToCart($index)" class="btn btn-primary" type="button">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cart-summary" ng-if="h.cartItemCount > 0">
                <h3>Your cart summary</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Items in cart</th>
                            <th>Total Rs.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-bind="h.cartItemCount"></td>
                            <td ng-bind="h.cartTotal"></td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Total Rs.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in h.products | filter: h.filterCart">
                            <td>
                                <span ng-bind="product.brandName"></span>&nbsp;
                                <span ng-bind="product.productName"></span>
                            </td>
                            <td ng-bind="product.addedCount"></td>
                            <td ng-bind="product.price * product.addedCount"></td>
                            <td>
                                <button class="btn btn-warning" ng-click="h.massRemoveFromCart(product.id)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>