<!DOCTYPE html>
<html ng-app="searchApp">
  <head>
      <title>AngularJS</title>
      
	  <script src="../../libraries/jquery-1.11.3.js"></script>
	  <script src="../../libraries/angular.js"></script>
  </head>
  <body ng-controller="SearchController" style="font-family : Sans-serif;">
    

    <div  style="margin : 10px auto;border : solid 1px; padding : 2%;width : 80%;">
     <form action="">
         <input type="text" placeholder="searching for ..?" ng-change="callsearchemp();" search-text val="searchString" ng-model="searchString" name="searchString" value="" style="padding : 2%; border : solid 1px #cccccc; font-size : 120%; width : 95%;"/>
     </form>
     
     <div  style="margin : 10px auto;border : solid 1px; padding : 2%;width : 80%;">
         <h2>Response asked for</h2>
        <div>
            <ul ng-repeat="res in filtered = (searchResult | filter : searchString)" style="list-style-type : none;">
                <li>Name : <span ng-bind-html="highlight(res.name, searchString)"></span></li> 
                <li>ID : <span ng-bind-html="highlight(res.employeeId, searchString)"></span></li>               
            </ul>
        </div>

         <h4>Count: <span ng-bind="filtered.length"></span></h4>
     </div>
    </div>
    <script src="search_new.js"></script>
  </body>
</html>
