html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    text-align: center;
}
.fruit-container {
    display: inline-flex;
    width: 100%;
}
.reload {
    background-image: url('images/button.png');
}
.fruit {
    flex-grow: 1;
    padding: 10px;
}
.fruit img {
    width: 100%;
}
#reloadGame {
    cursor: pointer;
    width: 60px;
}
.message {
    color: #1e90ff;
    margin: 10px 0px;
}
.hide {
    display: none;
}