<!DOCTYPE html>
<html ng-app="hackerEarthChallenge">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackerEarth Challenge</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="HomeController">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#page-top">
                    <span class="text-primary bold">HackerEarth - Programming Problems Hub!</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <form action="" class="col-md-3" id="searchForm">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-lg" placeholder="Search by tags" ng-model="searchText"/>
                    <div class="glyphicon glyphicon-remove form-control-feedback" ng-show="searchText" ng-click="clearSearchText()"></div>
                </div>
            </form>
            <div class="col-md-3 badge">
                <div class="col-md-3 lead">Sort by</div>
                <div class="col-md-9 lead">
                    <div class="radio">
                        <label><input type="radio" name="sortBy" value="rating" ng-model="rating"/>Rating</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="sortBy" value="like" ng-model="rating" />Like</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="page-header">
                    <h1><span class="label label-success" >API Hits: <span ng-bind="meta.apiHits"></span></span></h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 problem-card" ng-repeat="problem in problems | filter: searchTag" ng-if="problem.url">
            <div class="col-md-12">
                <div class="col-md-3">
                    <img ng-src="{{problem.image}}" alt=""/>
                </div>
                <div class="col-md-9 problem-description">
                    <h1>
                        <a href="{{ problem.url }}" target="_blank" ng-bind="problem.name"></a>
                    </h1>

                    <div class="col-md-12">
                        <i class="glyphicon glyphicon-home col-md-1"></i>
                        <div ng-if="problem.solved_by" class="col-md-11">
                            Solved by: <span ng-bind="problem.solved_by"></span>
                        </div>
                    </div>
                    <div>
                        Rating:
                        <span class="glyphicon glyphicon-star" ng-repeat="i in getRatingStars(problem.ratingCount) track by $index"></span>
                    </div>
                    <div ng-bind="problem.parent_challenge">
                        <i class="glyphicon glyphicon-home"></i>
                        <span ng-bind="problem.parent_challenge"></span>
                    </div>
                    <div ng-if="problem.tags">
                        <i class="glyphicon glyphicon-tags col-md-1"></i>
                        <span class="col-md-11" ng-bind="problem.tags"></span>
                    </div>
                    <div>
                        <i class="glyphicon glyphicon-link col-md-1"></i>
                        <a class="col-md-11" href="{{ problem.url }}" ng-bind="problem.url" target="_blank"></a>
                    </div>

                    <div>
                        <div class="pull-right" ng-click="like($index)">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span ng-bind="problem.like"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>